<section class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h1>Mis Proyectos</h1>
        <div id="ProyectRoot">
          {{#each projects}}
          <div class="mb-3 card {{ this.bgColor }} {{ this.textColor }}">
            <div class="card-header">{{ this.header }}</div>
            <div class="card-body">
              <h4 class="card-title">{{ this.title }}</h4>
              <p class="card-text">{{ this.description }}</p>
              <a class="text-info" href="{{ this.URI }}">Ir al proyecto</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

  <!-- Pie de página -->
  <footer class="bg-dark text-light text-center py-3">
    <div class="container">
      <p>&copy; 2023 Tu Empresa de Software</p>
    </div>
  </footer>